<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 900px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Tariffs</li>
            <li><a href="/tariff/getCreateForm">create tariff</a></li>
            <li><a class="close-button" href="/logout">Logout</a></li>
        </ul>
    </div>
</div>
<body>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Tariffs</h3>
        <table class="lined">
            <tr align="center">
                <th>Name</th>
                <th>Rate</th>
                <th>max amount</th>
                <th>min amount</th>
                <th>is replenished</th>
                <th>is capitalized</th>
                <th>is early closing</th>
                <th>withdraw available</th>
                <th>duration in months</th>
                <th>action</th>
            </tr>
            <tr align="center" th:each="tariff : ${tariffs}">
                <td th:text="${tariff.name}"></td>
                <td th:text="${tariff.interestRate}"></td>
                <td th:text="${tariff.maxAmount}"></td>
                <td th:text="${tariff.minAmount}"></td>
                <td th:text="${tariff.replenished}"></td>
                <td th:text="${tariff.capitalized}"></td>
                <td th:text="${tariff.earlyClosing}"></td>
                <td th:text="${tariff.withdrawAvailable}"></td>
                <td th:text="${tariff.durationInMonths}"></td>
                <td class="button-group">
                    <a class="button" href="#" th:href="@{'/tariff/getUpdateForm/' + ${tariff.id}}">update</a>
                    <form action="#" th:action="@{'/tariff/deleteTariff'}" method="post">
                        <input type="hidden" name="tariffId" th:value="${tariff.id}">
                        <button class="button" value="Submit">delete</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>