<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credit card offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Credit pay form</li>
            <li><a href="/client">Main</a></li>
        </ul>
    </div>
</div>
<body>
<form th:action="@{'/tariff/createTariff'}" th:object="${tariff}" method="post">
    <div class="input-group-label">
        <label class="label" for="name">name: <input class="fieldset" type="text" id="name" name="name"
                                                     th:field="${tariff.name}"></label>
        <label class="label" for="min">min amount: <input class="fieldset" type="number" step="any" id="min"
                                                          name="minAmount" th:field="${tariff.minAmount}"></label>
        <label class="label" for="max">max amount: <input class="fieldset" type="number" step="any" id="max"
                                                          name="maxAmount" th:field="${tariff.maxAmount}"></label>
        <label class="label" for="duration">duration: <input class="fieldset" type="text" id="duration"
                                                             name="durationInMonths"
                                                             th:field="${tariff.durationInMonths}"></label>
        <label class="label" for="rate">rate: <input class="fieldset" type="number" step="any" id="rate"
                                                     name="interestRate" th:field="${tariff.interestRate}"></label>

        <br>
        <br>
        <label class="label" for="replenished">replenished:
            <select id="replenished" class="switch-paddle" name="replenished">
                <option class="switch-input"
                        th:value="${true}" th:text="${'yes'}" th:field="${tariff.replenished}">
                </option>
                <option class="switch-input"
                        th:value="${false}" th:text="${'no'}" th:field="${tariff.replenished}">
                </option>
            </select>
        </label>
        <label class="label" for="closing">closing:
            <select id="closing" class="switch-paddle" name="earlyClosing">
                <option class="switch-input"
                        th:value="${true}" th:text="${'yes'}" th:field="${tariff.earlyClosing}">
                </option>
                <option class="switch-input"
                        th:value="${false}" th:text="${'no'}" th:field="${tariff.earlyClosing}">
                </option>
            </select>
        </label>
        <label class="label" for="capitalized">capitalized:
            <select id="capitalized" class="switch-paddle" name="capitalized">
                <option class="switch-input"
                        th:value="${true}" th:text="${'yes'}" th:field="${tariff.capitalized}">
                </option>
                <option class="switch-input"
                        th:value="${false}" th:text="${'no'}" th:field="${tariff.capitalized}">
                </option>
            </select>
        </label>
        <label class="label" for="withdraw">withdraw:
            <select id="withdraw" class="switch-paddle" name="withdrawAvailable">
                <option class="switch-input"
                        th:value="${true}" th:text="${'yes'}" th:field="${tariff.withdrawAvailable}">
                </option>
                <option class="switch-input"
                        th:value="${false}" th:text="${'no'}" th:field="${tariff.withdrawAvailable}">
                </option>
            </select>
        </label>
        <button class="button" type="submit" value="Submit">Submit</button>
    </div>
</form>
</body>
</html>