<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CreditCardApps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 800px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<body>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Offers</h3>
        <table class="lined">
            <tr align="center">
                <th>First Name</th>
                <th>Last Name</th>
                <th>Serial Number</th>
                <th>Create Offer</th>
            </tr>
            <tr align="center" th:each="app : ${applications}">
                <td th:text="${app.client.passport.firstName}"></td>
                <td th:text="${app.client.passport.lastName}"></td>
                <td th:text="${app.client.passport.serialNumber}"></td>
                <td><a class="button" href="#" th:href="@{'/operator/creditcardapps/offer/' + ${app.client.id}}">create offer</a></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>