<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Blocked Transfers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 800px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Blocked Transfers</li>
            <li><a href="/operator">Back</a></li>
        </ul>
    </div>
</div>
<body>

<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Blocked Transfers</h3>
        <table class="lined">
            <tr align="center">
                <th>Amount</th>
                <th>From account</th>
                <th>To account</th>
                <th>Date</th>
                <th>Action</th>
            </tr>
            <tr align="center" th:each="transfer : ${transfers}">
                <td th:text="${transfer.amount}"></td>
                <td th:text="${transfer.accountNumberFrom}"></td>
                <td th:text="${transfer.accountNumberTo}"></td>
                <td th:text="${transfer.date}"></td>
                <td class="button-group">
                    <form action="#" th:action="@{'/blockedTransfer/approveTransfer'}" method="post">
                        <input type="hidden" name="contributionId" th:value="${transfer.id}">
                        <button class="button" value="Submit">approve</button>
                    </form>
                    <form action="#" th:action="@{'/blockedTransfer/deleteTransfer'}" method="post">
                        <input type="hidden" name="contributionId" th:value="${transfer.id}">
                        <button class="button" value="Submit">block</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>