<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Client</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 900px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Client</li>
            <li><a href="/creditcardapp/createcardapp">Create credit card application</a></li>
            <li><a href="/offer/getOffers">My offers</a></li>
            <li><a href="/bankAccount/getAccountForm">Open bank account</a></li>
            <li><a href="/contribution/getContributionForm">Open contribution</a></li>
            <li><a href="/card/getCardForm">Open card</a></li>
            <li><a href="/transfer/getTransferType">Transfers</a></li>
            <li><a href="/transfer/history">Transfers history</a></li>
            <li><a class="close-button" href="/logout">Logout</a></li>
        </ul>
    </div>
</div>

<div class="callout large primary">
    <div class="row column text-center">
        <h1 th:text="${name}"></h1>
        <h3 th:text="${surname}"></h3>
    </div>
</div>

<body>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Your bank accounts</h3>
        <table class="lined">
            <tr align="center">
                <th>Number</th>
                <th>balance</th>
                <th>action</th>
            </tr>
            <tr align="center" th:each="bankAccount : ${bankAccounts}">
                <td th:text="${bankAccount.accountNumber}"></td>
                <td th:text="${bankAccount.amount}"></td>
                <td class="button-group">
                    <a class="button" href="#" th:href="@{'/bankAccountCash/getPaymentForm/' + ${bankAccount.id}}">add
                        cash</a>
                    <a class="button" href="#" th:href="@{'/bankAccountCash/getWithdrawForm/' + ${bankAccount.id}}">withdraw</a>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Your cards</h3>
        <table class="lined">
            <tr align="center">
                <th>Number</th>
                <th>Balance</th>
                <th>End date</th>
                <th>Action</th>
            </tr>
            <tr align="center" th:each="card : ${cards}">
                <td th:text="${card.cardNumber}"></td>
                <td th:text="${card.balance}"></td>
                <td th:text="${card.endDate}"></td>
                <td class="button-group">
                    <a class="button" href="#" th:href="@{'/cardCash/getPaymentForm/' + ${card.id}}">add cash</a>
                    <a class="button" href="#" th:href="@{'/cardCash/getWithdrawForm/' + ${card.id}}">withdraw</a>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Your contributions</h3>
        <table class="lined">
            <tr align="center">
                <th>Tariff</th>
                <th>Balance</th>
                <th>End date</th>
                <th>interested rate</th>
                <th>Action</th>
            </tr>
            <tr align="center" th:each="contribution : ${contributions}">
                <td th:text="${contribution.tariff.name}"></td>
                <td th:text="${contribution.amount}"></td>
                <td th:text="${contribution.endDate}"></td>
                <td th:text="${contribution.tariff.interestRate}"></td>
                <td class="button-group">
                    <a class="button" href="#" th:href="@{'/contributionCash/getPaymentForm/' + ${contribution.id}}">add
                        cash</a>
                    <a class="button" href="#" th:href="@{'/contributionCash/getWithdrawForm/' + ${contribution.id}}">withdraw</a>
                    <form action="#" th:action="@{'/contribution/closeContribution'}" method="post">
                        <input type="hidden" name="contributionId" th:value="${contribution.id}">
                        <button class="button" value="Submit">close</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>

<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Your credit cards</h3>
        <table class="lined">
            <tr align="center">
                <th>Number</th>
                <th>balance</th>
                <th>credit limit</th>
                <th>interested rate</th>
                <th>end date</th>
                <th>action</th>
            </tr>
            <tr align="center" th:each="card : ${creditcards}">
                <td th:text="${card.cardNumber}"></td>
                <td th:text="${card.balance}"></td>
                <td th:text="${card.creditLimit}"></td>
                <td th:text="${card.interestRate}"></td>
                <td th:text="${card.endDate}"></td>
                <td class="button-group">
                    <a class="button" href="#" th:href="@{'/creditcard/getPaymentForm/' + ${card.id}}">add cash</a>
                    <a class="button" href="#" th:href="@{'/credit/getCredits/' + ${card.id}}">details</a>
                    <a class="button" href="#" th:href="@{'/openCredit/creditForm/' + ${card.id}}">open credit</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>