<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credit card offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Open Credit</li>
            <li><a href="/client">Back</a></li>
        </ul>
    </div>
</div>
<body>
<form th:action="@{'/openCredit/openCredit/' + ${creditCardId}}" th:object="${credit}"
      method="post">
    <label class="label" for="amount">amount: <input class="fieldset" type="number" id="amount"
                                                     th:field="*{amount}"></label><br>
    <label class="label">currency:
        <select class="switch-paddle" name="currency">
            <option class="switch-input"
                    th:each="currency : ${T(ru.javaschool.models.bankentity.currency.Currency).values()}"
                    th:value="${currency}" th:text="${currency}"></option>
        </select>
    </label>
    <br>
    <br>
    <button class="button" type="submit">Submit</button>

</form>
</body>
</html>