<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 800px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Offers</li>
            <li><a href="/client">Back</a></li>
        </ul>
    </div>
</div>
<body>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <table class="lined">
            <tr align="center">
                <th>Card Number</th>
                <th>Interest Rate</th>
                <th>Credit Limit</th>
            </tr>
            <tr align="center" th:each="offer : ${offers}">
                <td th:text="${offer.cardNumber}"></td>
                <td th:text="${offer.interestRate}"></td>
                <td th:text="${offer.creditLimit}"></td>
                <td class="button-group">
                        <form th:action="@{'/offer/acceptoffer/' + ${offer.id}}" method="post">
                            <button class="button" type="submit">accept</button>
                        </form>
                        <form th:action="@{'/offer/denyoffer/' + ${offer.id}}" method="post">
                            <button class="button" type="submit">deny</button>
                        </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>