<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Credit card offer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 800px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Contribution form</li>
            <li><a href="/client">Main</a></li>
        </ul>
    </div>
</div>
<body>

<form th:action="@{'/contribution/openContribution'}" method="post">
    <div class="input-group-label">
        <label class="label" for="amount">amount: <input class="fieldset" type="number" step="any" id="amount"
                                                         name="amount"></label>
        <label class="label">tariff:
            <select class="switch-paddle" name="tariffId">
                <option class="switch-input"
                        th:each="tariff : ${tariffs}"
                        th:value="${tariff.id}" th:text="${tariff.name}">
                </option>
            </select>
        </label>
        <button class="button" type="submit" value="Submit">Submit</button>
    </div>
</form>

<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <h3>Tariffs</h3>
        <table class="lined">
            <tr align="center">
                <th>Name</th>
                <th>Interest rate</th>
                <th>Duration months</th>
                <th>Early Closing</th>
                <th>Capitalized</th>
                <th>Replenished</th>
                <th>Min Balance</th>
                <th>Max Balance</th>
            </tr>
            <tr align="center" th:each="tariff : ${tariffs}">
                <td th:text="${tariff.name}"></td>
                <td th:text="${tariff.interestRate}"></td>
                <td th:text="${tariff.durationInMonths}"></td>
                <td th:text="${tariff.earlyClosing}"></td>
                <td th:text="${tariff.capitalized}"></td>
                <td th:text="${tariff.replenished}"></td>
                <td th:text="${tariff.minAmount}"></td>
                <td th:text="${tariff.maxAmount}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>