<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Offers</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<table>
    <tr>
        <th>Card Number</th>
        <th>Interest Rate</th>
        <th>Credit Limit</th>
        <th>Action</th>
    </tr>
    <tr th:each="card : ${cards}">
        <td th:text="${card.cardNumber}"></td>
        <td th:text="${card.balance}"></td>
        <td th:text="${card.interestRate}"></td>
        <td th:text="${card.creditLimit}"></td>
        <td th:text="${card.endDate}"></td>

    </tr>
</table>
</body>
</html>