<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>CreditCardApps</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://dhbhdrzi4tiry.cloudfront.net/cdn/sites/foundation.min.css">
    <style type="text/css">
        TABLE {
            width: 800px; /* Ширина таблицы */
            border-collapse: collapse; /* Убираем двойные линии между ячейками */
        }

        TD, TH {
            padding: 3px; /* Поля вокруг содержимого таблицы */
            border: 1px solid black; /* Параметры рамки */
        }

        TH {
            background: #b0e0e6; /* Цвет фона */
        }
    </style>
</head>
<div class="top-bar">
    <div class="top-bar-left">
        <ul class="menu">
            <li class="menu-text">Credits</li>
            <li><a href="/client">Back</a></li>
        </ul>
    </div>
</div>
<body>
<div class="row medium-10 large-10 columns text-center">
    <div class="blog-post" align="center">
        <table class="lined">
            <tr align="center">
                <th>amount</th>
                <th>end date</th>
                <th>fines</th>
            </tr>
            <tr align="center" th:each="credit : ${credits}">
                <td th:text="${credit.amount}"></td>
                <td th:text="${credit.endDate}"></td>
                <td th:text="${credit.fine}"></td>
                <td class="button-group">
                    <form action="#" th:action="@{'/credit/getCreditpayForm/' + ${credit.id}}" method="get">
                        <input type="hidden" name="creditCardId" th:value="${credit.creditCard.id}">
                        <button class="button" type="submit">repay credit</button>
                    </form>
                    <form action="#" th:action="@{'/credit/getFinespayForm/' + ${credit.id}}" method="get">
                        <input type="hidden" name="creditCardId" th:value="${credit.creditCard.id}">
                        <button class="button" type="submit">repay fines</button>
                    </form>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>